<div class="recherche">
    <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="searchText" [(ngModel)]="searchText"
      placeholder="Tapez votre recherche">
  </div>
  <table class="table" align = center>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Actions sur la zone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zone of listZones| filter:searchText ; let i = index">
        <th scope="row">{{zone.id}}</th>
        <td>{{zone.nom}}</td>
        <td><button type="button" [routerLink]="['/admin/updatezone', zone.id]" class="btn btn-warning"
            name="boutonModif">Modifier</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" (click)="askfordel(zone.id,i)" class="btn btn-danger"
            name="boutonDelete">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
  <div align="center">
      <button type="button" [routerLink]="['/admin']" class="btn btn-primary">Retour à la racine</button>
  </div>