<div class="recherche">
        <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="searchText" [(ngModel)]="searchText"
          placeholder="Tapez votre recherche">
      </div>
      <table class="table" align = center>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Capacité</th>
            <th scope="col">Nombre d'animaux</th>
            <th scope="col">Zone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enclos of listEnclos| filter:searchText ; let i = index">
            <th scope="row">{{enclos.id}}</th>
            <td>{{enclos.nom}}</td>
            <td>{{enclos.capacite}}</td>
            <td>{{enclos.nbAnimal}}</td>
            <td>{{enclos.zone.nom}}</td>
          </tr>
        </tbody>
      </table>
      <div align="center">
          <button type="button" [routerLink]="['/personnel']" class="btn btn-primary">Retour à la racine</button>
      </div>