<div align="center">
    <div>
        <form [formGroup]="enclosForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-lg-6">
                <label for="inputNom">Nom :</label>
                <input type="text" class="form-control" id="inputNom" [(ngModel)]="encloscourant.nom"
                    formControlName="nom" [ngClass]="{'is-invalid': submitted && f.nom.errors}">
            </div>
            <div *ngIf="submitted && f.nom.errors">
                <label class="error">Veuillez entrer le nom de l'enclos</label>
            </div>
            <div class="form-group col-lg-6">
                <label for="inputCapacite">Capacité :</label>
                <input type="text" class="form-control" id="inputCapacite" [(ngModel)]="encloscourant.capacite"
                    formControlName="capacite" [ngClass]="{'is-invalid': submitted && f.capacite.errors}">
            </div>
            <div *ngIf="submitted && f.capacite.errors">
                <label class="error">Veuillez entrer la capacité de l'enclos</label>
            </div>
            <div class="form-group col-lg-6">
                <label for="inputZone">Zone :</label>
                <select class="form-control" id="inputZone" [(ngModel)]="zonecourant.id" formControlName="zone"
                    [ngClass]="{'is-invalid': submitted && f.zone.errors}">
                    <option *ngFor="let zone of listZones" [ngValue]="zone.id">
                        {{zone.nom}}
                    </option>
                </select>
            </div>
            <div *ngIf="submitted && f.zone.errors">
                <label class="error">Veuillez sélectionner la zone de l'enclos</label>
            </div>
            <div class="form-group col-lg-6">
                <button type="submit" class="btn btn-primary">Modifier
                    l'enclos</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-primary">Remettre à
                    zéro</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" [routerLink]="['/admin/listenclos']" class="btn btn-primary">Retour à la
                    racine</button>
            </div>
        </form>
    </div>
</div>