<div align="center">
    <div>
        <form [formGroup]="tacheForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-lg-6">
                <label for="inputLibelle">Libellé :</label>
                <input type="text" class="form-control" id="inputLibelle" [(ngModel)]="nouveauTache.libelle"
                    formControlName="libelle" [ngClass]="{'is-invalid': submitted && f.libelle.errors}">
            </div>
            <div *ngIf="submitted && f.libelle.errors">
                <label class="error">Veuillez entrer le libellé de la tâche</label>
            </div>

            <div class="form-group col-lg-6">
                <label for="inputDateDebut">Date et heure de début:</label>
                <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                    <input class="form-control" [(ngModel)]="nouveauTache.dateDebut" [options]="options"
                        NgTempusdominusBootstrapInput type="text" formControlName="dateDebut"
                        [ngClass]="{'is-invalid': submitted && f.dateDebut.errors}" />
                    <div class="input-group-append" NgTempusdominusBootstrapToggle>
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && f.dateDebut.errors">
                <label class="error">Veuillez entrer la date de début de la tâche</label>
            </div>
            <div class="form-group col-lg-6">
                <label for="inputDateFin">Date et heure de fin:</label>
                <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                    <input class="form-control" [(ngModel)]="nouveauTache.dateFin" [options]="options"
                        NgTempusdominusBootstrapInput type="text" formControlName="dateFin"
                        [ngClass]="{'is-invalid': submitted && f.dateFin.errors}" />
                    <div class="input-group-append" NgTempusdominusBootstrapToggle>
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="addHour()">+1 heure</button>
                    <button type="button" class="btn btn-primary" (click)="addDay()">+1 jour</button>
                </div>
            </div>
            <div *ngIf="submitted && f.dateFin.errors">
                <label class="error">Veuillez entrer la date de fin de la tâche</label>
            </div>
            <div class="form-group col-lg-6">
                <label for="inputEtat">État :</label>
                <select class="form-control" id="inputEtat" [(ngModel)]="nouveauEtat.id" formControlName="etat"
                    [ngClass]="{'is-invalid': submitted && f.etat.errors}">
                    <option *ngFor="let etat of listEtats" [ngValue]="etat.id">
                        {{etat.libelle}}
                    </option>
                </select>
            </div>
            <div *ngIf="submitted && f.etat.errors">
                <label class="error">Veuillez sélectionner l'état de la tâche</label>
            </div>
            <div class="form-group col-lg-6">
                <label for="inputPersonne">Personne :</label>
                <select class="form-control" id="inputPersonne" [(ngModel)]="nouveauPersonne.id"
                    formControlName="personne" [ngClass]="{'is-invalid': submitted && f.personne.errors}">
                    <option *ngFor="let personne of listPersonnes" [ngValue]="personne.id">
                        {{personne.nom + " : " + personne.role.libelle}}
                    </option>
                </select>
            </div>
            <div *ngIf="submitted && f.personne.errors">
                <label class="error">Veuillez sélectionner la personne devant réaliser cette tâche</label>
            </div>
            <div class="form-group col-lg-6">
                <button type="submit" class="btn btn-primary">Ajouter la
                    tâche</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-primary">Remettre à
                    zéro</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" [routerLink]="['/manager/listtache']" class="btn btn-primary">Retour à la racine</button>
            </div>
        </form>
    </div>
</div>